body{
    margin:5px;
}
nav *{
    margin-left: 10px;
}
.session-card{
    background-color: rgb(114, 196, 234);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:10px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}

.session-card button{
    height: fit-content;
}

.category-card{
    background-color: rgb(53, 219, 125);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:10px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}

.new-session-container{
    height:30px;
    display: flex;
    flex-direction: row;
}

.new-session-container * {
    height: fit-content;
    margin-left: 3px;
}